.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0f0f23;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.app__content {
  flex: 1;
  display: flex;
  overflow: hidden;
}
